@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh; /* Altura mínima de 100% da tela */
    background-image: linear-gradient(to top,#F2E3D5, #3CA6A6, #026773,#026773,#3CA6A6,#F2E3D5); 
    background-attachment: fixed; /* Opcional: deixa o fundo parado enquanto o texto rola! */
    margin: 0; /* Tira as margens brancas em volta da página */
}


main {
     background-color: white;
     border-radius: 10px;
     box-shadow: 5px 5px 5px #022e33ab;
     width: 600px;  /* Largura*/
     padding: 10px; /*margem*/
     margin:auto; /*centralizar*/
}
    h1 {
        color: #032d31;
        text-align: center;
        text-shadow: 1px 1px 2px #01191bb0;
    }

    h2 {
        color: #238080;
    }

p {
    text-align: justify;
}